name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: 'Sección 1: Teoría'
      id: seccion-1-teoria
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: 'Sección 1: Teoría'
        setup-command: ''
        command: python.github/scripts/test_teoria.py
        timeout: 60
        max-score: 10
    - name: 'Sección 2: Limpieza de Datos'
      id: seccion-2-limpieza-de-datos
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: 'Sección 2: Limpieza de Datos'
        setup-command: ''
        command: python.github/scripts/test_limpieza.py
        timeout: 60
        max-score: 30
    - name: 'Sección 3: Cálculo de Índices'
      id: seccion-3-calculo-de-indices
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: 'Sección 3: Cálculo de Índices'
        setup-command: ''
        command: python.github/scripts/test_indices.py
        timeout: 60
        max-score: 30
    - name: 'Sección 4: Visualización'
      id: seccion-4-visualizacion
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: 'Sección 4: Visualización'
        setup-command: ''
        command: python.github/scripts/test_visualizacion.py
        timeout: 60
        max-score: 30
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        SECCION-1-TEORIA_RESULTS: "${{steps.seccion-1-teoria.outputs.result}}"
        SECCION-2-LIMPIEZA-DE-DATOS_RESULTS: "${{steps.seccion-2-limpieza-de-datos.outputs.result}}"
        SECCION-3-CALCULO-DE-INDICES_RESULTS: "${{steps.seccion-3-calculo-de-indices.outputs.result}}"
        SECCION-4-VISUALIZACION_RESULTS: "${{steps.seccion-4-visualizacion.outputs.result}}"
      with:
        runners: seccion-1-teoria,seccion-2-limpieza-de-datos,seccion-3-calculo-de-indices,seccion-4-visualizacion
